/* COMMON */
img{
    max-width: 100%;
}
:root{
    /* Colors */
    --navbar: rgb(46 63 79);
    --jumbotron: rgb(61 188 156);
    --footer: rgb(61 86 107);
    --footer-bottom: rgb(46 63 79);;
}
a{
    color: inherit;
    text-decoration: none;
}
section{
    padding: 2rem 0;
}
.ms_bg-primary{
    color: white;
    background-color: var(--jumbotron);
}
/* Layout */
.ms-small_container{
    width: 70%;
    margin: 0 auto;
}
/* HEADER */
.ms-nav{
    height: 5em;
    line-height: 5em;
    color: white;
    background-color: var(--navbar);
}
.nav-menu ul{
    list-style-type: none;
}
.nav-menu li{
    margin: 0 1em;
}
.form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
.form-control:focus{
    box-shadow: none;
}
/* MAIN */
/* Jumbotron */
.ms-line-star{
    width: 10%;
    height: 4px;
    border-radius: 4px;
}
/* Contact */
#contact ul{
    list-style-type: none;
}

/* FOOTER */
footer{
    color: white;
}
footer h4,
footer p,
footer .web i{
    margin-bottom: 1em;
}
.ms-footer-top{
    padding: 1.5rem 0 2rem;
    background-color: var(--footer);
}
.ms-footer-bottom{
    padding: 2rem 0;
    background-color: var(--footer-bottom);
}
.ms-web{
    font-size: 2em;
}